.weather-app {
  background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
 
 .logo {
   font-size: 20px;
   text-transform: uppercase;
   font-weight: bold;
 }
 
 .nav-links {
   display: flex;
 }
 
 .nav-links a {
   margin-left: 20px;
   color: #fff;
   text-decoration: none;
 }
 
  .search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  
  .search-input {
  width: 60%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  }
  
  .search-button {
  width: 30%;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  }
  
  .weather-details {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
  }
  
  
  
  
  